<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div class="wrapper">
  <header class="head">
    <h1>HEADER</h1>
  </header>
  <nav class="nav">
    <h1>NAVIGATION</h1>
  </nav>
  <article class="banner">
    <h1></h1>
    <article class="text">
      <p>Description: One of the world's most recognized historic landmarks, this expansive mountain estate, established around the middle of the 15th century, is also the most familiar icon of the Inca civilization.</p>
    </article>
  </article>
  <article class="content">
    <h1>CONTENT</h1>
      <div class="square"></div>
  </article>
  <aside class="side">
    <h1>REGISTRATION</h1>
    <div class="sidebar_form"></div>
  </aside>
<footer class="footer">
  <h1>FOOTER</h1>
</footer>
</div>
</body>
</html>